{{#each tickets}}
  <div class='event' data-id='{{id}}'>
    <div class='cardBorder'></div>
    <div
      class='imageContainer'
      style="background: url('{{imageUrl}}'); background-repeat:no-repeat; background-size: cover; background-position: center"
    >
    </div>
    <h3 class='eventName'>{{title}}</h3>
    <p class='eventTime'>{{time}}</p>
    <div class='locationContainer'>
      <i class='fa fa-map-marker text-white locationSvg' aria-hidden='true'></i>
      <p class='eventLocation'>{{country}}</p>
    </div>
  </div>
{{/each}}